__pycache__/
data
venv
videos
.env
*.png
*.pyc
screenshots
trainingdata
*.zip
*.mp4
*.jpg
debug/
.ipynb_checkpoints/
completedvideos/
legacyvideos/
*.json
rounds/
*.pkl
rounds/
misclassified_screenshots/
